.code-total-item {
  text-align: center;
  border-bottom: 2px solid #BCBCBC;
  padding: 2px;
  list-style: none;
  height: 100px;
  width: 500px;
  overflow: hidden;
  margin-top: 5px;
}

.item-padding {
  padding-top: 6%;
}

h5 {
  align-content: center;
  font-weight: bold;
}

.code-total-item li {
  margin: auto;
  list-style: none;
  text-align: center;
  float: left;
  display: block;
  width: 25%;
}

li {
  list-style: none;
}


.shop-list-item:hover {
  background-color: #f5f5f5;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5vh;
}

.flex {
  display: flex;
  flex-grow: 1;
}


@media only screen and (max-width: 1100px) {

  h5 {
    font-size: 20px;
  }

  .subtext {
    padding-bottom: 16px;
  }

  .code-list-item, .code-total-item {
    height: 100px;
    width: 300px;
  }

  .custom {
    padding: 12px;
  }

  .flex {
    flex-grow: 1;
  }

  .grid {
    display: grid;
    grid-column-gap: 10px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {

  .subtext {
    padding-bottom: 14px;
  }

  .code-list-item, .code-total-item {
    height: 100px;
    width: 300px;
  }

  h5 {
    font-size: 12px;
  }

  .custom {
    width: 80%;
    padding: 12px;
  }

  .flex {
    flex-grow: 1;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }
}

@media only screen and (max-width: 350px) {

  .custom {
    width: 30%;
    padding: 12px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }

  .code-list-item, .code-total-item {
    height: 100px;
    width: 200px;
  }
}
