<app-header></app-header>


<div class="flex">
  <div class="divtop">
    <p class="subtext">Admin Page</p>
    <app-addmode *ngIf="addMode"></app-addmode>

    <button class="btn btn-default custom" *ngIf="!addMode"(click)="onChangeMode()">Add Product &#x271A; </button>
    <button class="btn btn-default " *ngIf="addMode" (click)="onChangeMode()">Go back to here</button>

    <div *ngIf="!addMode" class="grid">
      <ul *ngFor="let product of products" [ngStyle]="{backgroundColor: !product.active ? '#FFE4E1FF': 'white'}" class="shop-list-item">
        <li class="img-responsive img">
          <img src="{{product.url}}" alt="{{product.description}}">
        </li>
        <li class="padding-item">
          <h5>{{product.description}}</h5>
        </li>
        <li class="padding-item">
          <h5> {{product.price | currency:'EUR'}}</h5>
        </li>
        <li class="padding-item">
            <button *ngIf="product.active" (click)="onDeleteProduct(product)" type="button"
                    class="btn btn-danger">
              <b>Delete</b>
            </button>
          <button *ngIf="!product.active"(click)="onDeleteProduct(product)" type="button"
                  class="btn btn-primary">
            <b>Add</b>
          </button>

          <button (click)="onEditProduct(product)" type="button"
                  class="btn btn-success">
            <b>edit</b>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
