<app-header></app-header>


<div class="flex">
  <div class="divtop">
    <p class="subtext">Webshop</p>
    <div class="grid">
      <ul class="shop-list-item">
        <li class="img-responsive img">
          <img src="assets/images/webshop-logo.gif" alt="logo">
        </li>
        <li class="padding-item">
          <h5>Item</h5>
        </li>
        <li class="padding-item">
          <h5> Price</h5>
        </li>
        <li class="padding-item">
          <p>
            <button type="button"
                    class="btn btn-default btn-sm custom-button ">
                <span class="glyphicon
                    glyphicon-shopping-cart">
                </span>
              <b> Add</b>
            </button>
          </p>
        </li>
      </ul>
      <ul class="shop-list-item">
        <li class="img-responsive img">
          <img src="assets/images/webshop-logo.gif" alt="logo">
        </li>
        <li class="padding-item">
          <h5>Item</h5>
        </li>
        <li class="padding-item">
          <h5> Price</h5>
        </li>
        <li class="padding-item">
          <p>
            <button type="button"
                    class="btn btn-default btn-sm custom-button ">
                <span class="glyphicon
                    glyphicon-shopping-cart">
                </span>
              <b> Add</b>
            </button>
          </p>
        </li>
      </ul>



    </div>
  </div>
</div>
