
<app-header></app-header>
<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <h3>Add Promocodes here!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form (ngSubmit)="onSubmit()" #f=ngForm>
          <div class="grid">
            <section>
              <label>Name</label>
              <input class="form-control"
                     type="text"
                     name="name"
                     ngModel
                     required
                     #name=ngModel>
              <span class="help-block" *ngIf="!name.valid && name.touched">
                Please enter a valid name!</span>
            </section>
            <section>
              <label>Code</label>
              <input class="form-control"
                     type="text"
                     name="code"
                     ngModel
                     required
                     #url=ngModel>
              <span class="help-block" *ngIf="!url.valid && url.touched">
                Please enter a valid url!</span>
            </section>
            <section>
              <label>Discount in percentage</label>
              <input class="form-control"
                     type="text"
                     name="discount"
                     ngModel
                     required

                     [pattern]="'^[+-]?([0-9]*[.])?[0-9]+'"
                     #price=ngModel>
              <span class="help-block" *ngIf="!price.valid && price.touched">
                Invalid percentage! Example: 20!</span>

            </section>
          </div>
          <button class="btn btn-default" [disabled]="!f.valid">Add Promocode &#x271A; </button>
          <button class="btn btn-default" (click)="goBackButton()">Go Back</button>
        </form>
      </div>
    </div>
  </div>
</div>





